@import url("observablehq:default.css");

body {
  font-family: "DM Mono", monospace;
  font-weight: 400;
}

.tooltip {
  font-size: 12px;
  color: #fff;
  background-color: #1b1b1b;
  border-radius: 5px;

  padding: 5px 7px;

}


.bubble-chart-new .strip-chart .sound-input {
  font-family: sans-serif;
}

h1 {
  margin: 50px 0px;
}

h1, h2, h3 {
  font-family: "DM Sans", sans-serif;
}

h1, h2, h3:hover {
  text-decoration: none;
}

h2, h3 {
    margin: 30px 0px;
}

:where(p, li, blockquote, td) a[href] {
  color: #2561ba;
  font-weight: 500;
}

:where(p, li, blockquote, td) a[href]:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

/* .radial-presence-chart {

  max-width: var(--radial-chart-max-width);
  height: auto;
  width: 100%;
  margin: 24px 0;
  position: relative;
}
.radial-presence-chart__legend {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 3px;
  margin-top: 20px;
}
.radial-presence-chart__legend-item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 3px 5px;
  border: 0px transparent;
  border-radius: 0px;
  cursor: pointer;
  font-size: 12px;
  transition: ease;
}

.radial-presence-chart__svg {
  width: 100%;
  height: auto;
  display: block;
}

.radial-presence-chart__x-label,
.radial-presence-chart__y-label {
  fill: var(--theme-foreground-muted);
  font-size: 12px;
} */
